.container {
  background-color: #040d13cb;
  height: 75px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.container .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .left .icon {
  font-size: 30px;
}

.container .left h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-poppins);
}

.center h2 {
  font-size: 15px;
  font-weight: 600;
}
.right_block{
  display: flex;
  align-items: center;
  gap: 20px;
}
.view_form {
  width: fit-content;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #005186cb;
  padding: 10px 24px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.view_form:hover {
  background-color: var(--btn_hover);
}

.view_form:active {
  transform: scale(0.9);
}

.view_form .icon {
  color: #fff;
  font-size: 20px;
}

.view_form span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.right_block .help{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #005186cb;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.right_block .help .icon{
  color: #fff;
  font-size: 20px;
}
@media screen and (max-width: 870px) {
  .center,
  .view_form span {
    display: none;
  }
}
