.container {
  flex: 1;
  overflow-y: auto;
  padding: 10px 0 50px;
}

.block {
  display: flex;
  flex-direction: column;
}

.block .head h2 {
  color: var(--black);
  font-weight: 600;
  font-size: 16px;
  padding: 24px;
}

.content button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 24px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--border-color);
  transition: 0.3s ease-in-out;
}

.content_left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content button:hover {
  background-color: var(--gray);
}

.content button:active {
  transform: scale(0.9);
}

.content button .icon {
  font-size: 25px;
}

.content button span {
  display: inline-flex;
  font-size: 15px;
  font-weight: 600;
}

@media screen and (max-width: 870px) {
  .container {
    display: block;
  }
}
