.container {
  flex: 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block {
  overflow-y: auto;
  background-color: #f1f1f1f1;
  padding: 50px 0 100px;
}

.head {
  display: none;
  justify-content: space-between;
  padding: 24px 10px;
}

.head button,
.head .view_form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}

.head button {
  background-color: #fff;
}

.head .view_form:active,
.head button:active {
  transform: scale(0.9);
}

.head button .icon_close,
.head .view_form .icon {
  font-size: 22px;
}

.head .view_form {
  background-color: #005186cb;
}

.head .view_form .icon {
  color: #fff;
}

/*btn_block---*/
.btn_block {
  background-color: #fff;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
}

.btn_block button {
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.btn_block button:active {
  transform: scale(0.9);
}

.btn_block button:nth-child(1) {
  background-color: transparent;
  border: 1px solid #ff0000;
}

.btn_block button:nth-child(1):hover {
  background-color: #fff1f1;
}

.btn_block button.isDisable:nth-child(1) {
  border: 1px solid #ff9696;
  color: var(--black9);
  cursor: no-drop;
}

.btn_block button.isDisable:nth-child(1):hover {
  background-color: transparent;
}

.btn_block button:nth-child(2) {
  background-color: var(--btn);
  border: 1px solid var(--btn);
  color: #fff;
}

.btn_block button:nth-child(2):hover {
  background-color: var(--btn_hover);
}

.btn_block button.isDisable:nth-child(2) {
  background-color: #b6b6b6;
  border: 1px solid #b6b6b6;
  color: #fff;
  cursor: no-drop;
}

.btn_block button.isDisable:nth-child(2):hover {
  background-color: #b6b6b6;
}

@media screen and (max-width: 870px) {
  .container {
    display: none;
    position: fixed;
    inset: 0;
    background-color: #fff;
    z-index: 100;
    overflow-y: auto;
  }

  .container.active {
    display: block;
  }

  .block {
    padding: 0 10px 100px;
  }

  .head {
    display: flex;
  }

  .btn_block {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
