.main {
  background-color: #f9f8f8;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.container {
  max-width: 800px;
  min-height: 800px;
  margin: 0 auto;
  padding: 50px 150px;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgb(109 110 111 / 8%);
  border-radius: 0 0 8px 8px;
}

.container .head h1 {
  font-size: 22px;
  font-weight: 600;
}

.container .head p {
  font-size: 14px;
  color: var(--black5);
  margin: 20px 0;
}

/*-----block_content---*/
.block_content{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content h2{
  font-size: 16px;
  color: var(--black);
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 15px;
}

.content p{
  margin-left: 10px;
  font-size: 15px;
  color: var(--black);
}
.content p.cont_icon{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.content .icon{
  font-size: 20px;
  color: var(--black);
  margin: 0 5px;
}
.content strong{
  font-size: 15px;
  font-weight: 600;
  color: var(--black);
}
.content ol{
  margin-left: 45px;
  margin-bottom: 10px;
}
.content ol li{
  font-size: 15px;
  color: var(--black);
}


@media screen and (max-width: 800px) {
  .main {
    background-color: #fff;
    padding-bottom: 100px;
  }

  .container {
    min-height: auto;
    padding: 50px;
    border-radius: 0;
    box-shadow: none;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 50px 24px;
  }
}
