.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.container_block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container .label {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: var(--black4);
  margin-bottom: 11px;
}

.label span.isRequired {
  color: #c13515;
  margin-left: 2px;
}

.container label {
  font-size: 13px;
  color: var(--black4);
}

.container .text_fiel input,
.container select {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  height: 40px;
  font-size: 13px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--noir);
  box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
}

.container .text_fiel input:focus,
.container select:focus {
  box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset;
}

.container .text_fiel input::placeholder {
  font-size: 13px;
}

/*----radio_btn---*/

.radio_btn {
  display: flex;
  padding: 2px 0;
  gap: 10px;
}

.radio_btn input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(176, 176, 176);
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 50%;
  vertical-align: top;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  height: 18px;
  width: 18px;
  margin: 0px;
}

.radio_btn input[type='radio']:hover {
  border-color: rgb(34, 34, 34);
}

.radio_btn input[type='radio']:checked {
  border-color: rgb(34, 34, 34);
  border-width: 7px;
  background: white;
}

/*----checbox_btn---*/
.checbox_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.checbox_btn input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0px;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #c6c6c6;
}

.checbox_btn input[type='checkbox']:hover {
  border: 1px solid #333;
}

.checbox_btn input[type='checkbox']:after {
  content: '';
  display: none;
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.checbox_btn input[type='checkbox']:checked {
  background: var(--btn_black);
  border: 1px solid #333;
}

.checbox_btn input[type='checkbox']:checked:after {
  display: block;
}

.error_message {
  color: #c13515;
  font-size: 13px;
}

.footer button {
  padding: 8px 20px;
  margin: 15px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  background-color: var(--btn);
  color: #fff;
  transition: 0.3s ease-in-out;
}

.footer button:hover {
  background-color: var(--btn_hover);
}

.footer button:active {
  transform: scale(0.9);
}

.footer p {
  font-size: 13px;
  color: var(--black8);
}

.footer a {
  font-size: 13px;
  color: var(--black8);
}
