.main {
  background-color: #f9f8f8;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.container {
  max-width: 800px;
  min-height: 800px;
  margin: 0 auto;
  padding: 50px 150px;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgb(109 110 111 / 8%);
  border-radius: 0 0 8px 8px;
}

.container .head h1 {
  font-size: 22px;
  font-weight: 600;
}

.container .head p {
  font-size: 14px;
  color: var(--black5);
  margin: 20px 0;
}

@media screen and (max-width: 800px) {
  .main {
    background-color: #fff;
    padding-bottom: 100px;
  }

  .container {
    min-height: auto;
    padding: 50px;
    border-radius: 0;
    box-shadow: none;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 50px 24px;
  }
}
