.content {
  max-width: 430px;
  margin: 0 auto;
}

.content_block {
  min-height: calc(100vh - 70px);
}

.content .title_head {
  background-color: #ffff;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  border-radius: 5px;
  width: 100%;
  padding: 24px;
  margin: 10px 0;
}

.content .title_head input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
}

.content .title_head input:focus {
  border-color: 1px solid var(--black);
}

.content .title_head input:nth-child(1) {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.content .title_head input:nth-child(2) {
  font-size: 13px;
}

.block {
  background-color: #ffff;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  border-radius: 5px;
  width: 100%;
  padding: 24px;
  margin: 10px 0;
}

/*----head---*/
.head {
  display: flex;
  justify-content: flex-end;
}

.head span .icon {
  color: var(--black);
  font-size: 20px;
  cursor: pointer;
}

.label span.isRequired,
.block .text_fiel label span.isRequired {
  color: #c13515;
  margin-left: 2px;
}

.block .text_fiel input {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--noir);
  box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
}

.block .text_fiel input:focus {
  box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset;
}

/*---label input----*/
.block .label {
  display: flex;
  margin-bottom: 5px;
}

.block .label input {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  font-size: 14px;
}

.block .label input:focus {
  border-color: 1px solid var(--black);
}

/*---select----*/
.block select {
  box-sizing: border-box;
  padding: 0 15px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--noir);
  box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
}

.block select:focus {
  box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset;
}

/*--radio_btn---*/
.radio_btn {
  display: flex;
  padding: 2px 0;
  gap: 10px;
}

.radio_btn span {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(176, 176, 176);
  background: rgb(255, 255, 255);
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

/*---checbox_btn----*/
.checbox_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.checbox_btn span {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #c6c6c6;
}

/*-options styles--*/
.update_option {
  display: flex;
  align-items: center;
  gap: 5px;
}

.update_option input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  font-size: 13px;
}

.update_option input:focus {
  border-color: 1px solid var(--black);
}

.update_option .icon {
  cursor: pointer;
}

.add_option {
  text-decoration: underline;
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
  cursor: pointer;
  margin-top: 5px;
}

/*-footer--*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.footer p {
  font-size: 13px;
  color: var(--black8);
}

.footer input {
  cursor: pointer;
}
