/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --black: #222222;
  --black3: #333;
  --black4: #444;
  --black5: #555;
  --black6: #666;
  --black8: #888;
  --black9: #999;
  --blackc: #ccc;
  --gray: #f7f7f7;
  --gray-hover: #ebebeb;
  --border-color: #dddddd;

  --btn_black: rgb(34, 34, 34);
  --btn_black_hover: rgb(12, 12, 12);
  --btn: #0071eb;
  --btn_hover: #005ab9;
  --font-poppins: 'Poppins', sans-serif;
  --maxWith: 1380px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.43;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* p,
li {
  color: var(--black);
}

label {
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
select {
  background-clip: padding-box;
  -webkit-tap-highlight-color: transparent;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  appearance: button;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 743px) {
  input,
  textarea {
    font-size: 16px !important;
  }
}
