.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.edit_form {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 40px;
  z-index: 90;
}

.edit_form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s;
}

.edit_form button:hover {
  background-color: var(--btn_hover);
}

.edit_form button:active {
  transform: scale(0.9);
}

.edit_form button .icon_view {
  font-size: 23px;
  color: #fff;
}

@media screen and (max-width: 870px) {
  .edit_form {
    display: block;
  }
}
